/* Loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #5d3891;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loader Ends */

.message,
.lds-ring {
  margin: 15rem 50%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: #5d3891;
  color: white;
  align-items: center;
}

.menuList {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.addButton {
  padding: 0.7rem;
  border-radius: 1rem;
  cursor: pointer;
  border-style: none;
}

.addButton:hover {
  background-color: #e8e2e2;
}

.itemCardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #e8e2e2;
}

a {
  text-decoration: none;
  color: white;
}

.itemCard {
  width: 20rem;
  min-height: fit-content;
  border: 0.1rem solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  background-color: #f5f5f5;
  height: 45rem;
}

.itemCard a {
  color: black;
}

.itemCard a:hover {
  color: #5d3891;
}

.category {
  align-self: flex-start;
  font-size: 0.6rem;
}

.eachItemImage {
  width: 10rem;
  background-color: #f5f5f5;
}

.ratingsAndCount {
  display: flex;
  gap: 10rem;
}

.card-title {
  font-size: 1rem;
  text-align: center;
}

.card-text {
  font-size: 0.75rem;
}

.card-price {
  font-size: 2rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card-footer i {
  font-size: 1.5rem;
  cursor: pointer;
}

.card-footer i:hover {
  color: #5d3891;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: #5d3891;
  color: white;
  align-items: center;
}

form {
  display: flex;
  width: 40rem;
  flex-direction: column;
  margin: 7rem auto;
  border: 0.2rem solid #5d3891;
  padding: 2rem;
  gap: 1rem;
  border-radius: 2rem;
}

@media screen and (max-width: 800px) {
  nav,
  footer {
    flex-direction: column;
  }

  form {
    width: 90%;
  }
}

@media screen and (max-width: 300px) {
  .itemCard {
    width: 90%;
    margin: auto;
    height: 50rem;
  }
}
